*$py.class
*.egg
*.egg-info/
*.log
*.py[cod]
.agent/secrets.env.yaml
.coverage
.eggs/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
__pycache__/
build/
dist/
env/
htmlcov/
log.*
venv/